
:root {
    --2px: 2px;
    --4px: 4px;
    --6px: 6px;
    --linear2: all 2s linear;
}

/*html, body{*/
/*    width: 99%;*/
/*    margin-left: 10px;*/
/*}*/

* {
    color: #414040;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imgbg {
    background-image: url("./images/sec8park.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 99%;*/
}

.imgbg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter: blur(var(--6px));
    -moz-filter: blur(var(--6px));
    -webkit-filter: blur(var(--6px));
    -o-filter: blur(var(--6px));

    transition: var(--linear2);
    -moz-transition: var(--linear2);
    -webkit-transition: var(--linear2);
    -o-transition: var(--linear2);
}

.container{
    width: 98%;
    margin: 1rem;
    min-height: 800px;
    height: 800px;
}

input, select {
    font-size: 20px;
}

.input-inline {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

.input-inline * {
    margin: 5px;
}

.input-right {
    text-align: right;
}

.purple {
    background-color: #b8b8b4;
}

input {
    padding: 10px;
    display: inline;
}

.btn {
    border: 1px solid transparent;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .275rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    /*opacity: 0.95;*/
}

.btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.header {
    padding: 1rem;
    display: flex;
    align-content: space-around;
    vertical-align: top;
    width: 100%;
}

.myIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.myIcons img {
    margin: 5px;
    padding: 5px;
}

.imgdrop {
    height: 50px;
    width: 50px;
}

.imgdropx {
    height: 70px;
    width: 70px;
}


.logo {
    height: 50px;
    width: 50px;
}

.icon {
    height: 100px;
    width: 100px;
}

.right {
    text-align: right;
    padding-right: 5px;
}

.red {
    color: orangered;
}

/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

.wid70 {
    width: 70%;
    padding: 5px;
}

.wid30 {
    width: 30%;
    padding: 5px;
}

.height450 {
    height: 450px;
    overflow: auto;
    position: relative;
}

.height650 {
    height: 650px;
    overflow: auto;
    position: relative;
}

.wid100 {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pad20 {
    padding: 20px;
}
.pad10 {
    padding: 10px;
}
.margin10l{
    margin-left: 10px;
}

.formInputs input, .formInputs select {
    padding: 10px;
    margin-bottom: 5px;
}

.flexboxCards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
}

.time {
    font-size: 10px;
}

.size14 {
    font-size: 14px;
}

.size20 {
    font-size: 20px;
}

.size30 {
    font-size: 30px;
}

.bl {
    font-weight: bolder;
}

.box > * {
    flex: 1 1 150px;
}

.card {
    border-top: 3px solid #0c5460;
    background-color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.row {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row > span{
    min-width: 150px;
    width: 150px;
    text-overflow: ellipsis;
    word-break: break-all;
    text-wrap: normal;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.amt {
    font-weight: bold;
    font-size: 16px;
}

.green {
    background-color: #82c389;
}

.txtgreen {
    color: #258930;
}

.textwhite {
    color: white;
}

.white {
    background-color: white;
}

.txtpurple {
    color: #5229a6;
}

.blue {
    background-color: #6fb5e5;
}

.swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 5px;
}

.textwhite {
    color: white;
}

.hide {
    display: none;
}

.show {
    display: flex;
}


.xrow {
    overflow-x: hidden;
    width: 100%;
    border-bottom: 1px solid #8a8a8a;
    align-items: center;
}

.xhead {
    font-weight: bolder;
    font-size: 14px;
    background-color: #f7f7f7;
}

.xcell {
    margin-right: 5px;
    display: inline-block;
    word-break: break-all;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow-x: hidden;
    justify-content: center;
}

.xcell .btn {
    margin-right: 3px;
    font-size: 10px;
}


.searchText {
    width: 50%;
    padding: 5px;
    margin: 5px;
}

.carddiv {
    text-align: left;
    min-height: 200px;
    overflow: auto;
    position: relative;
}

span{
    margin-left: 2px;
    margin-right: 2px;
}

.carddiv > span {
    padding: 5px;
    font-size: 35px;
}

.carddiv > span > img {
    height: 200px;
    width: 200px;
}

.swal-modal {
    height: auto;
    width: 95%;
}


footer{
    bottom: 0;
    margin-top: 5em;
    position: fixed;
    width: 100%;
}