html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    height: 50em;
    position: relative;
    overflow: auto;
    font-size: 12px;
    font-family: times new roman, helvetica, arial, sans-serif;
    color: #337ab7;
}
/*
#337ab7
#286090
DarkSlateBlue
#2b542c
#66512c
#337ab7
#fcf8e3
#333
*/
header,footer,section,article {
    border: 1px solid grey;
    margin: 5px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: white;
}

header,footer {
    color: white;
    background-color: #444;
    margin-bottom: 5px;
}

section {
    background-color: #ddd;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
H1 {
    color: #23527c;
}

a:link {
    color: #23527c;
}

/* Stack the two content containers */
table#topmenu tr td {
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.heading {
    font-size: 16px;
    font-weight: bold;
    color: inherit;
}

.subheading {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #23527c;
    padding: 0em 1em 0.2em 1em;
    /*border-radius: .35em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;*/
}

.subheading-g {
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: darkseagreen;
    padding: 0em 1em 0.2em 1em;
    /*border-radius: .35em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;*/
}
.subheading-r {
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: darkred;
    padding: 0em 1em 0.2em 1em;
    /*border-radius: .35em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;*/
}

.subheading-b {
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    padding: 0em 1em 0.2em 1em;
    /*border-radius: .35em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;*/
}
.success {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: .35em;
    padding: .3em .3em .3em .3em;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.warning {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: gray;
    border-radius: .35em;
    padding: .3em .3em .3em .3em;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.danger {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: .35em;
    padding: .3em .3em .3em .3em;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.info {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: darkgoldenrod;
    border-radius: .35em;
    padding: .3em .3em .3em .3em;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.wid25 {
    width: 25%;
}

.logo {
    height: 120px;
    width: 120px;
}

pre {
    text-align: left;
    overflow: auto;
    position: relative;
    table-layout: fixed;
    width: auto;
    white-space: pre-wrap;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
}

.gb {
    font-weight: bolder;
    font-size: 28pt;
}

.prodimg {
    background: no-repeat;
    height: 150px;
    width: 200px;
    margin: 5px auto;
}

p.text {
    margin: 1px 0;
    text-indent: inherit;
    text-align: justify;
}

.img {
    height: auto;
    width: 100%;
    max-heigh: 100%;
}

table#topmenu { /*border-bottom: 4px solid #23527c;*/
    font-family: inherit;
    font-size: inherit;
    /*border-bottom: 2px solid #23527c;*/
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    background-color: #23527c;
}

table#side1,table#side2,table#side3 {
    width: 100%;
    border-bottom: inherit;
    font-family: inherit;
    font-size: inherit;
}

table#topmenu tr td#current {
    background-color: white;
    color: inherit;
    border-top: 1px solid #23527c;
    border-right: 1px solid #23527c;
    border-left: 1px solid #23527c;
    border-bottom: 1px solid white;
}

table#side1 tr td,table#side2 tr td,table#side3 tr td,table#side4 tr td
{
    background-color: #23527c;
    cursor: pointer;
    color: white;
}

table#side1 tr td#current,table#side2 tr td#current,table#side3 tr td#current,table#side4 tr td#current
{
    background-color: white;
    color: inherit;
    border-top: 2px solid #23527c;
    border-bottom: 2px solid #23527c;
}

.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 20px;
}

.ra {
    text-align: right;
}

.la {
    text-align: left;
}

.ca {
    text-align: center;
}

.ja {
    text-align: justify;
}

.va {
    vertical-align: middle;
}
.vl {
    vertical-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 1;
    margin: 1px auto;
    font-family: inherit;
    font-size: inherit;
}

tr {
    width: 100%;
}

td {
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
}

.top {
    vertical-align: top;
}

.plainText {
    margin: 10px auto;
    white-space: pre-wrap;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
}

.date {
    color: inherit;
    font-weight: bolder;
}

div {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

.of {
    overflow: auto;
    position: relative;
}

a {
    color: #23527c;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    margin-left: 4px;
}

div.myLeftBox,td.mybox {
    width: 100%;
    overflow: auto;
    position: relative;
    margin: 0px;
}

td.myTopImageBox {
    height: 25em;
    width: auto;
    /*border: 2px solid cadetblue;*/
}

.click {
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    text-wrap: none;
    white-space: pre-line;
    font-size: 8pt;
    vertical-align: top;
}

div.myFixBox {
    position: relative;
    overflow: auto;
    margin: 5px;
    white-space: pre-wrap;
}

div.box {
    width: auto;
    /* border: 2px solid #23527c; */
    margin: 5px;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
}

img.icon {
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.mydivsmall {
    height: 12em;
    width: auto;
    border: 2px solid #23527c;
    border-radius: 10px;
}

.pagebox {
    position: fixed;
    left: -250px;
    top: -400px;
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-top: 50%;
    padding: 10px;
    background-color: inherit;
    box-shadow: 0px 0px 8px green;
    border-radius: 5px;
    z-index: 2;
    color: white;
    overflow: auto;
}

input[type='text'],input[type='file'],textarea,select {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #23527c;
        /*border-radius: 5px;*/
}

td#tLeft {
    width: 20em;
    margin: 5px;
}

td#tMid {
    width: 80em;
    margin: 5px;
}

td#tRight {
    width: 15em;
}

.myAdLi {
    display: none;
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

a.control_prev,a.control_next {
    position: absolute;
    top: 10%;
    z-index: 200;
    display: block;
    padding: 10px 10px;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    opacity: 0.3;
    cursor: pointer;
}

a.control_prev:hover,a.control_next:hover {
    opacity: 1;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.mySliderImgPix {
    width: 400px;
    height: 100px;
}

.vidPixel {
    width: 200px;
    height: 200px;
}

li {
    /*margin-left: 10px;*/
    border-bottom-color: darkgreen;
    color: #23527c;
    font-weight: normal;
    padding: 1px;
    border-radius: 4px;
    /*margin: 1px;*/
    text-decoration: none;
    cursor: pointer;
}

.clsRating {
    background-color: white;
    color: #23527c;
    overflow: auto;
    position: relative;
    height: 30em;
}

.commentTable {
    border-color: #23527c;
}

.commentTable th {
    text-align: left;
}

/*#slider {
  position: relative;
  overflow: hidden;
  margin: 5px auto 0 auto;
  border-radius: 5px;
}*/

/* First breakpoint at 350px */
@media all and (min-width: 20em) {
    body {
        font-size: 8px;
    }
    td {
        font-size: 8px;
    }
    li {
        font-size: 8px;
    }
    td.click {
        font-size: 8px;
    }
    table#topmenu tr td {
        font-size: 10px;
    }
    .subheading {
        font-size: 8px;
    }
    .success,.danger,.info,.warning {
        font-size: 8px;
    }
    .logo {
        height: 40px;
        width: 40px;
    }
    H1 {
        color: #23527c;
        font-size: 12px;
    }
    .vidPixel {
        width: 100px;
        height: 100px;
    }
    .mySliderImgPix {
        width: 200px;
        height: 40px;
    }
}

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em) {
    body {
        font-size: 10px;
    }
    td {
        font-size: 10px;
    }
    li {
        font-size: 10px;
    }
    td.click {
        font-size: 10px;
    }
    table#topmenu tr td {
        font-size: 14px;
    }
    .subheading {
        font-size: 10px;
    }
    .success,.danger,.info,.warning {
        font-size: 10px;
    }
    .logo {
        height: 80px;
        width: 80px;
    }
    H1 {
        color: #23527c;
        font-size: 16px;
    }
    .vidPixel {
        width: 150px;
        height: 150px;
    }
    .mySliderImgPix {
        width: 300px;
        height: 60px;
    }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em) {
    body {
        font-size: 12px;
    }
    td {
        font-size: 12px;
    }
    li {
        font-size: 12px;
    }
    td.click {
        font-size: 12px;
    }
    /* You can also tweak any other styles in a breakpoint */
    H1 {
        color: #23527c;
        font-size: 20px;
    }
    table#topmenu tr td {
        font-size: 20px;
    }
    .subheading {
        font-size: 14px;
    }
    .success,.danger,.info,.warning {
        font-size: 12px;
    }
    .logo {
        height: 120px;
        width: 120px;
    }
    .vidPixel {
        width: 200px;
        height: 200px;
    }
    .mySliderImgPix {
        width: 500px;
        height: 100px;
    }
}


.rating {
    text-align: center;
    font-size: 20pt;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

li{
    list-style: none;
    cursor: pointer;
    padding: 3px;
}
li .imgVBA{
    height: 200px;
    width: 400px;
    border: 1px solid teal;
    border-radius: 3px;
    margin: 2px;
}

.vbaMainPageUL > li{
    display: inline;
}
.vbaMainPageUL > li .imgVBA1{
    height: 150px;
    width: 200px;
    border: 1px solid teal;
    border-radius: 3px;
    margin: 2px;
}