#project_summary div{
}

#project_summary span,#prof_summary span{
    font-weight: bolder;
}


#main_center_div{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

#main_center_div div span{
    padding-left: 5px;
    padding-right: 5px;
}


#main_center_div div.bg-primary{
    font-size: 14pt;
}

/*#main_center_div div div span{*/
/*    font-size: 12pt;*/
/*}*/