.h_left, .h_left div a, .h_right {
    color: white;
    padding: 2px 2px;
    margin: 2px;
}

div a {
    color: white;
    padding: 2px 2px;
    margin: 2px;
}

.links {
    color: white;
    font-weight: bolder;
    padding: 2px 2px;
    margin: 2px;
}

.h_left {
    float: left;
    font-size: 22pt;
    font-weight: bolder;
}

.badge {
    font-size: 12px;
    padding: 2px;
    margin: 4px;
}

.h_right {
    float: right;
    font-size: 10pt;
    font-weight: bold;
}