body{
    font-size: 12pt;
    font-family: "Courier 10 Pitch";
}

.user {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.time {
    color: white;
    float: right;
}

.userComment {
    margin-left: 5px;
    color: purple;
    font-weight: lighter;
}
.userCommentTitle{
    padding:3px;
    margin-top: 20px;
    font-weight: bolder;
    color: white;
    background-color: #7f63ea;
}

.userReplyTitle{
    font-weight: bold;
    font-size: 10pt;
}

.comment-replies{
    margin-left: 20px;
}

#registerModal input, #loginModal input {
    margin-top: 10px;
}