html, body {
    color: #636363;
    font-size: 10px;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    min-height: 100vh;
    /*max-width: 1000px;*/
}

footer i:hover {
    color: tomato;
}
.color1 {
    color: #008ECC;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}
.formx *{
    padding: 3px;
    margin-bottom: 3px;
}

a span {
    color: white;
}

.move2top {
    cursor: pointer;
    float: right;
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.bottom_cart {
    cursor: pointer;
    float: right;
    bottom: 5px;
    right: 45px;
    position: fixed;
}

.click {
    cursor: pointer;
}

.xcontainer{
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    max-width: 100%;
}
.xcontainer div{
    margin: 5px;
}

#id_div_left_container, #id_div_right_container{
    width: 20%;
}
#id_div_container{
    width: 60%;
}

/*#id_div_left_container, #id_div_right_container {*/
/*    margin-top: 1rem;*/
/*    margin-bottom: 1rem;*/
/*    !*text-align: right;*!*/
/*}*/


#id_div_container {
    margin-bottom: 0.2rem;
}
#id_div_container div{
    word-break: break-all;
}

.cart_bg .xcard {
    color: inherit;
    font-weight: bolder;
    padding: 5px;
}

.product_box {
    font-size: inherit;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-wrap: wrap;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgb(181, 97, 8);
}

.xcard *{
    word-break: break-all;
}
.xcard span > div {
    font-size: 10px;
    color: tomato;
    float: right;
}

.xcard > h3 {
    /*color: black;*/
}

.header_area .main_menu .main_box {
    background: #fff;
    margin: 0 auto 0;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

/*#id_div_container div b {*/
/*    text-align: left;*/
/*    word-wrap: break-word;*/
/*    position: relative;*/
/*    font-size: 9px;*/
/*}*/

.cart_bg {
    color: gray;
    /*background-color: #ff6347;*/
    right: 0;
    overflow: auto;
    position: relative;
}

#id_div_left_container span.btn, #id_div_right_container span.btn {
    padding: 3px;
    margin: 2px;
    /*text-align: right;*/
}

.header_format div {
    display: inline-block;
    padding: 5px;
}

a.btn{
    color: #a00ee3;
}

.searchBox{
    padding: 5px;
    font-weight: bolder;
}

.btn {
    margin-right: 2px;
    border: 1px solid transparent;
    display: inline-block;
    /*text-align: center;*/
    white-space: nowrap;
    -webkit-user-select: none;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .275rem .75rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: .50rem;
    cursor: pointer;
    background-color: #d69162;
    opacity: 0.85;
    font-weight: bold;
    /*transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out*/
}

.btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1000;
    top: 5%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
    /*transition: 0.5s;*/
}

.overlay-content {
    position: relative;
    /*top: 1%;*/
    width: calc(100% - 150px);
    padding: 30px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-danger {
    color: white;
    background-color: tomato;
    text-align: center;
}

.right_content {
    text-align: right;
}

div .link_logo > a > img {
    height: 30px;
    width: 50px;
}

.top-control {
    width: 100%;
    /*float: right;*/
}

.top-control > button {
    display: inline-block;
}

.productImages > div img {
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    left: 30%;
    top: 50%;
}

.fixed-right {
    overflow: auto;
    position: absolute;
    right: 0;
    height: 400px;
    z-index: 1030
}

.priceline {
    font-weight: bold;
}

.dropMenu {
    /*position: relative;*/
    /*z-index: 1;*/
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#menubtn:hover .dropMenu {
    display: block;
    position: relative;
    background-color: red;
}


.cenAlign {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2rem;
}

/*@media only screen and (max-width: 600px) {*/
/*    html, body {*/
/*        color: #636363;*/
/*        font-size: 10px;*/
/*        margin-top: 2rem;*/
/*        margin-left: 0.2rem;*/
/*        margin-right: 0.2rem;*/
/*        max-width: 580px;*/
/*        overflow-x: hidden;*/
/*        height: 100vh;*/
/*    }*/

/*    #id_div_right_container {*/
/*        display: none;*/
/*    }*/

/*    .productImages > div img {*/
/*        height: 250px;*/
/*        width: 270px;*/
/*        text-align: center;*/
/*        vertical-align: middle;*/
/*        left: 5%;*/
/*        top: 50%;*/
/*    }*/

/*    .header_format div {*/
/*        display: inline;*/
/*        padding: 5px;*/
/*    }*/

/*    .cart_bg {*/
/*        top: 0;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        position: fixed;*/
/*        z-index: 1100;*/
/*    }*/

/*    h2 span.btn {*/
/*        padding: 6px;*/
/*        margin: 2px;*/
/*    }*/


/*}*/

.logo{
    height: 30px;
    width: 30px;
}




.topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: tomato;
    font-weight: bold;
    font-size: 14px;

}
.topbar span{
    padding: 3px;
    margin-right: 5px;
}


*,a,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6  {
    color: #34133b;
}

