<h3>Reach out to Us...</h3>

<div class="row">
    <div class="col-lg-4">
        <div id="contactID"></div>
    </div>
    <div id="contact" class="col-lg-8">
        <div><h3 id="message">Enquiry Form</h3></div>
        <div style="overflow-x: hidden; overflow-y: auto; position: relative; height: 400px">
            <form id="contactform">
                <div class="row col-lg-12">
                    <input type="text" placeholder="Full Name" name="name" id="name"/>
                    <input type="text" placeholder="Email" name="email" id="email"/>
                    <input type="text" placeholder="Mobile 10 digits" name="mobile" id="mobile"/>
                    <input type="text" placeholder="Course Interested" name="course" id="course"/>
                    <input type="text" placeholder="Qualification" name="qualification" id="qualification"/>
                    <textarea rows="12" placeholder="Message" name="comments" id="comments"></textarea>
                </div>
            </form>
            <div class="row col-lg-12" style="padding: 5px; margin: 5px;">
                <span class="btn btn-success" onclick="getContactEmailQueryURI('contactform','message')">Submit</span>
                <span class="btn btn-danger" onclick="clearForm('contactform')">Reset</span>
            </div>
        </div>
    </div>
</div>
