<div id="divHeaderLine1" class="row">
    <div id="top1" class="col-lg-12"></div>
</div>

<div id="sliderLine" class="w3-content w3-display-container">
    <span class="btn btn-info w3-display-left" onclick="plusDivs(-1)">&#10094;</span>
    <span class="btn btn-info w3-display-right" onclick="plusDivs(+1)">&#10095;</span>
</div>

<div id="topMenu"></div>
<div id="topMenuSelect" style="width: 100%; font-size: 14pt;">
    <select name="" id="idTopMenuSelect" onchange="displayData(this.id,this.value)"></select>
</div>

