<h3>Testimonials - what Other Students Say</h3>
<div class="row">
    <div class="col-lg-3">
        <input type="text" id="txtTestimonialName" placeholder="enter your name" />
    </div>
    <div class="col-lg-8">
        <textarea name="txtTestimonalUI" id="txtTestimonalUI" cols="30" rows="2" placeholder="tell us what you think"></textarea>
    </div>
    <div class="col-lg-1">
        <span class="btn btn-success" onclick="saveTestimonial()">Submit</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12"><div id="myTestimonialData"></div></div>
</div>
