body {
    margin: 10px;
    color: #a006ef;
}

.activeLink {
    color: white;
    background-color: #a006ef;
}

h1, h2, h3 {
    background: -webkit-linear-gradient(#db1755, #a563c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a {
    /*background: -webkit-linear-gradient(#db1755, #a563c3);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: #61dafb;*/
    color: #7816ac;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    margin: 5px;
}

.cols {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.rows {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px;
}

.inrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainLeftDiv {
    opacity: 0.75;
    width: 20%;
}

.mainRightDiv {
    width: 80%;
}


.btn {
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    /*box-shadow: 4px 4px 15px 2px rgb(191, 3, 248);*/
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.green {
    background-color: #4CAF50;
    border-radius: 8px;
}

.blue {
    background-color: #008CBA;
    border-radius: 8px;
}

.red {
    background-color: #f44336;
    border-radius: 8px;
}

.white {
    color: white;
}

.gray {
    background-color: #e7e7e7;
    border-radius: 8px;
}

.black {
    background-color: #555555;
    border-radius: 8px;
}


