.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left {
    text-align: left;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.center {
    text-align: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.right {
    text-align: right;
    justify-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}


.wid50{
    width: 50%;
}