<style>
    .topMenu div a, .topMenu div span {
        /*left: 20%;*/
        margin: 5px;
        padding: 10px;
        /*min-height: 30px;*/
    }
</style>
<div ng-app="myAjs" class="">
    <div ng-controller="templatesController">
        <header class="topMenu6">
            <span id="id71" class="btn " ng-click="getTemplates('id71','Home','leftTemplatePlane');" type="button">Home</span>
            <span id="id72" class="btn " ng-click="getTemplates('id72','Education','educationTemplate');" type="button">Educations</span>
            <span id="id73" class="btn " ng-click="getTemplates('id73','Experience','experienceTemplate');" type="button">Experience</span>
            <span id="id74" class="btn " ng-click="getTemplates('id74','Skills','footerIKnow');" type="button">Skills</span>
            <span id="id75" class="btn " ng-click="getTemplates('id75','I Know','footerLinks');" type="button">Samples</span>
        </header>


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div id="idLabel" class="bs nav-tabs-custom h1">{{viewLabel}}</div>
                    <div ng-controller="ITSummary" class="bs nav-tabs-custom" style="min-height: 700px">
                        <div id="itSummaryScope" ng-include="" ng-view="" src="strTemplateUrl"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!--<run-time-templates url="templates/boxTemplates.html"></run-time-templates>-->
                    <run-time-templates url="templates/footerIKnow.html"></run-time-templates>
                    <run-time-templates url="templates/ichart.html"></run-time-templates>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <run-time-templates url="templates/timeline.html"></run-time-templates>
                </div>
            </div>
        </div>

        <!--<run-time-templates url="templates/pageDiv.html" ng-controller="ITSummary"></run-time-templates>-->
    </div>

</div>
</div>

