<div class="bs nav-tabs-custom ">
    <div class="row"><div class="col-lg-12"><span class="h2">Senior Software Designer</span> by profession, I have +10 years wide experience in IT</div></div>
    <div class="row"><div class="col-lg-12">I have worked on varied set of applications involving multiple tech stack</div></div>
    <div class="row"><div class="col-lg-12">I am pro-active, self learner and target driven</div></div>
</div>


<script>
    $(document).ready(function(){
        setBtnDisplay()
    })
</script>