<style>
    .pt {
        font-size: 15pt;
        font-weight: bolder;
    }

    /*.small-box{*/
    /*width: auto;*/
    /*height: 150px;*/
    /*padding: 5px;*/
    /*margin: 2px;*/
    /*}*/
</style>
<section class="bs nav-tabs-custom">
    <div class="row container-fluid">
        <div class="col-lg-3">
            <div class="small-box bg-warning">
                <div class="inner inside"><span class="badge badge-pill badge-danger pt">100%</span>
                    <p>FullStack Development</p></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="small-box bg-aqua">
                <div class="inner inside"><span class="badge badge-pill badge-danger pt">70%</span>
                    <p>python+flask+mongo+REST</p></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="small-box bg-green">
                <div class="inner inside"><span class="badge badge-pill badge-danger pt">80%</span>
                    <p>HTML5+JS+Jquery+Angular</p></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="small-box bg-orange">
                <div class="inner inside"><span class="badge badge-pill badge-danger pt">100%</span>
                    <p>SDLC+Agile+JIRA+GIT</p></div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        setBtnDisplay()
    })
</script>