<div id="idExperienceController" ng-app="myAjs" class="bs nav-tabs-custom" style="height: 600px;overflow: auto; position: relative">
    <div ng-controller="experienceController">
        <div ng-repeat="xObj in experienceData | filter: { bg: ('badge-info badge text-left') }" style='padding-top: 3px;'>
            <span class="h2">{{xObj.company}}</span>
            <div class="boxS">
                <span style='font-size:14pt;font-weight:bolder' class="badge">{{xObj.name}}</span>
                <span class="badge color-12 text-white">{{xObj.from}}</span>
                <span class='badge color-12 text-white' style="float: right">{{xObj.role}}</span>
                <div>{{xObj.desc}}</div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        setBtnDisplay()
    })
</script>