<div ng-app="myAjs" class="bs nav-tabs-custom" style="height: 600px;overflow: auto; position: relative">
    <section class="bs nav-tabs-custom">
        <div class="row">
            <div class="col-lg-12">
                <div ng-view ng-include src="'templates/footerLinks.html'"></div>
            </div>
        </div>
    </section>

    <section class="bs nav-tabs-custom">
        <div class="row">
            <div class="col-lg-12">
                <div ng-app="myAjs">
                    <div style="font-weight: bolder; font-size: 14pt;">REST Call using PHP5</div>
                    <div ng-controller="serverCallLog">
                        <div align="left" class="divContainer">
                            <div style="font-weight: bolder;font-size: 12pt; color: red;">server call log</div>
                            <div ng-repeat="(key, value) in serverLog">
                                <span><b>{{key}}</b> - {{value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function(){
        setBtnDisplay()
    })
</script>