<style>
    #docView1 div a {
        font-weight: bolder;
        font-size: 10pt;
        padding: 5px;
    }

    #docView1 div {
        margin-top: 5px;
    }
</style>
<div class="bs nav-tabs-custom">
    <!--<div><div class="badge badge-danger badge-pill" style="float: right">Samples of work</div></div>-->
    <div id="docView1">
        <div>
            <span class="btn" onclick="setHref(this,'docs/Devendra_Prasad_CV.pdf',undefined,'my resume');">CV</span>
            <span class="btn" onclick="setHref(this,'docs/aws-dev-associate-notes.pdf',undefined,'AWS Study Notes');">aws-dev-notes.pdf</span>
            <span class="btn" onclick="setHref(this,'docs/aws-symbi-project.pdf',undefined,'my post graduate project - AWS');">aws-symbi-project</span>
            <span class="btn" onclick="setHref(this,'docs/pythonTrainingKIT.pdf',undefined,'python corporate training notes - L&T infotech, Chennai');">Python</span>
            <span class="btn" onclick="setHref(this,'docs/RESTDemo_AWS.pdf',undefined,'REST API Demo');">REST</span>
            <span class="btn" onclick="setHref(this,'docs/angularJs.pdf',undefined,'angular notes');">AngularJS</span>
            <span class="btn" onclick="setHref(this,'docs/VBAEyeOpner.pdf',undefined,'VBA Practices & Experience');">Excel+VBA</span>
            <span class="btn" onclick="setHref(this,'docs/VB6TrainingKIT.pdf',undefined,'VB6 corporate training notes');">VB6</span>
            <span class="btn" onclick="setHref(this,'/learning',undefined,'Learning & Practice Samples');"><span>LEARNING</span></span><br/>
        </div>
        <div>
            <span class="btn" onclick="setHref(this,'/ng',undefined,'Angular1 Sample Code');">NG</span>
            <span class="btn" onclick="setHref(this,'/ng1',undefined,'Angular2 Sample Code');">NG-1</span>
        </div>
        <div>
            <span class="btn" onclick="setHref(this,'vid/SonicAgeIndia-POS.mp4',undefined,'VB6 - Point Of Sale Software Demo');">POS.mp4</span>
            <span class="btn" onclick="setHref(this,'https://www.youtube.com/embed/n5NvwvT4y7s',undefined,'Advance Excel Demo');">Advance
                Excel1.mp4</span>
            <span class="btn" onclick="setHref(this,'https://www.youtube.com/embed/SAMvCwAcg1I',undefined,'Advance Excel Demo2');">Advance
                Excel2.mp4</span>
            <span class="btn" onclick="setHref(this,'https://www.youtube.com/embed/6b5fvh5QkRw',undefined,'Javascript Application Demo');">HTML5+JS+Jquery.mp4</span>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        setBtnDisplay()
    })
</script>
