<style>
    div {
        white-space: normal !important;
        word-wrap: break-word;
    }
</style>
<section class="bs">
    <div id="myNav" class="overlay" ng-controller="ITSummary">
        <!--<div class="{{bgTagColor}}">check - {{bgTagColor}} {{tagName}} {{content}}</div>-->
        <div id="mTag" class="{{bgTagColor}}" style="font-weight: bolder; font-size: 22pt; color: white; padding: 5px; margin: 10px; cursor: pointer;"
             onclick="closeNav()">{{tagName}}</div>
        <div>
            <run-time-templates url="templates/sliderTemplate.html" slideId="tempSlideExpId"></run-time-templates>
        </div>
        <div class="overlay-content" style="height: 650px;overflow-y:auto; overflow-x: hidden; width:98%; position: relative" id="mContent">{{content}}</div>
    </div>
</section>


<script>
    $(document).ready(function(){
        setBtnDisplay()
    })
</script>