<root>
    <SMTPDebug>1</SMTPDebug>
    <Mailer>smtp</Mailer>
    <Host>smtp.gmail.com</Host>
    <Port>465</Port>
    <SMTPAuth>true</SMTPAuth>
    <Username>devendraprasad1984@gmail.com</Username>
    <Password>rbs6200#</Password>
    <SMTPSecure>ssl</SMTPSecure>
    <FromAddress></FromAddress>
    <FromName>SonicAgeIndia</FromName>
    <ToAddress>sonicageindia@gmail.com</ToAddress>
    <ReplyAddress></ReplyAddress>
    <Plugdir>js/</Plugdir>
    <Wordwrap>150</Wordwrap>
    <Subject>SAILite @sonicageindia.co.in</Subject>
</root>