table{
    border: 0px solid teal;
    width: 100%;
}
td{
    vertical-align: top;
    text-align: left;
    position: relative;
}
li{
    cursor: pointer;
    text-align: left;
}
.topBox{
    background-color: teal;
    color: white;
    height: 6em;
}
.bottomBox{
    background-color: teal;
    color: white;    
    height: 1em;
}
div{
    background-color: white;
    text-align: left;
    vertical-align: top;
}
.rightBox{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 30em;
}