body {
    background-color: black;
    color: white;
    font-family: "Open Sans", ariel, sans-serif;
    font-size: 15px;
}

/*html5 compatible old browser IE*/
article, aside, details, figcaption, figure, footer, header, section, hgroup, menu, nav {
    display: block;
}

footer div {
    padding: 2px;
    bottom: 0;
    background-color: #DB4437;
}

/*li::before{*/
/*    padding: 10px;*/
/*}*/
.beforeli::before {
    font-size: 14pt;
    /*margin:5px;*/
    color: #4285F4;
    /*content: "\2713";*/
    content: "\2713\0020";
    /*line-height: 0.8;*/
    /*border: 1px solid #4285F4;*/
    /*background: #fff;*/
    /*border-radius: 3px;*/
    /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
}

.content {
    padding-top: 50px;
    /*min-height: 450px;*/
}

.togglePanel {
    font-size: 14pt;
}

header {
    background-color: #4285F4;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
}

header div {
    margin: 5px;
    padding: 3px;
}

.name {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
    text-decoration: underline;
}

.tld {
    vertical-align: middle;
    float: right;
    font-weight: bold;
    margin-right: 30px;
}

/*ul > li {*/
/*    padding: 2px;*/
/*    margin: 3px;*/
/*}*/

h1 {
    text-decoration: underline;
    font-size: 1.2em;
    margin-block-start: 1em;
    margin-block-end: 0em;
    cursor: pointer;
}

.btn {
    background-color: #4285F4;
    color: white;
    width: auto;
    font-size: 14px;
    padding: 5px;
}

.btn:hover {
    background-color: #0F9D58;
}

li:hover {
    color: #DB4437;
    background-color: white;
}

li > span {
    cursor: pointer;
}

a {
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.content-left li {
    min-width: 100px;
    padding: 2px;
    font-size: 14px;
}

.droplet {
    background: #4285F4;
    border-radius: 5% 5%;
    transition: all 1s;
    transition-timing: ease-in-out;
}

/*.droplet:hover {*/
/*     transform: rotate(1080deg);*/
/*}*/


.content-right {
    height: 450px;
    color: #000000;
    overflow: auto;
    word-wrap: break-word;
}

.content-left {
    min-width: 130px;
    height: 450px;
    background-color: #0F9D58;
}

.noHover {
    pointer-events: none;
}

.cursel {
    background-color: white;
    color: #DB4437;
}

li {
    list-style-type: none;
    position: relative;
}

/*li::before {*/
/*    content: '&#10004';*/
/*    position: absolute;*/
/*    left: -1em;*/
/*    font-size: 1em;*/
/*    top:-0.2em;*/
/*}*/

.parent {
    width: 100%;
    min-height: 500px;
}

.parent div {
    padding: 10px;
    overflow-x: hidden;
    word-wrap: break-word;
    /*display: inline-grid;*/
}

.first {
    /*min-width: 150px;*/
    width: 100px;
    float: left;
}

.second {
    width: auto;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /*background-color: rgb(0,0,0);*/
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 1%;
    width: 100%;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) and (max-width: 600px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .content-left {
        width: 100px;
    }
}
