*, ::after, ::before {
    box-sizing: border-box
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

body {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}
@-ms-viewport {
    width: device-width;
}

/*html5 compatible old browser IE*/
article, aside, details, figcaption, figure, footer, header, section, hgroup, menu, nav {
    display: block;
}

footer div {
    padding: 2px;
    bottom: 0;
    background-color: #DB4437;
}

/*li::before{*/
/*    padding: 10px;*/
/*}*/
.beforeli::before {
    font-size: 12px;
    color: #4285F4;
    content: "\2713\0020";
}

.content {
    padding-top: 70px;
}

.togglePanel {
    font-size: 14pt;
}

header {
    background-color: #4285F4;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

header div {
    margin: 5px;
    padding: 3px;
}

.name {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
    text-decoration: underline;
}

.tld {
    vertical-align: middle;
    float: right;
    font-weight: bold;
    margin-right: 30px;
}

dl, ol, ul {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0.2px;
    margin-inline-end: 0.2px;
    padding-inline-start: 2px;
    margin-top: 0;
    margin-bottom: 1rem
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn {
    border-color: #007bff;
    display: inline-block;
    font-weight: 450;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    /*margin-bottom: 10px;*/
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn:hover {
    color: white;
    background-color: black;
}

li:hover {
    color: #DB4437;
    background-color: white;
}

li > span {
    cursor: pointer;
}
code, kbd, pre, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}
pre {
    margin-top: 0;
    -ms-overflow-style: scrollbar
}


a {
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #0056b3;
    text-decoration: underline
}

.content-left li {
    min-width: 150px;
    /*padding: 2px;*/
    /*font-size: 14px;*/
}

.droplet {
    background: #4285F4;
    border-radius: 5% 5%;
    transition: all 1s;
    transition-timing: ease-in-out;
}

/*.droplet:hover {*/
/*     transform: rotate(1080deg);*/
/*}*/


.content-right {
    height: 450px;
    color: #000000;
    overflow: auto;
    word-wrap: break-word;
}

.content-left {
    min-width: 130px;
    height: 450px;
    background-color: #0F9D58;
}

.noHover {
    pointer-events: none;
}

.cursel {
    background-color: white;
    color: #DB4437;
}

li {
    list-style-type: none;
    position: relative;
}

/*li::before {*/
/*    content: '&#10004';*/
/*    position: absolute;*/
/*    left: -1em;*/
/*    font-size: 1em;*/
/*    top:-0.2em;*/
/*}*/

.parent {
    width: 100%;
    min-height: 500px;
}

.parent div {
    padding: 10px;
    overflow-x: hidden;
    word-wrap: break-word;
    /*display: inline-grid;*/
}

.first {
    /*min-width: 150px;*/
    width: 100px;
    float: left;
}

.second {
    width: auto;
}

.overlay {
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 1%;
    width: 100%;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.box {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: .50rem;
    padding: 5px;
    margin: 5px;
}


.bg-primary {
    background-color: #007bff !important
}


.bg-secondary {
    background-color: #6c757d !important
}


.bg-success {
    background-color: #28a745 !important
}


.bg-info {
    background-color: #17a2b8 !important
}

.bg-warning {
    background-color: #ffc107 !important
}


.bg-danger {
    background-color: #dc3545 !important
}


.bg-light {
    background-color: #f8f9fa !important
}


.bg-dark {
    background-color: #343a40 !important
}













@media screen and (max-width: 600px) {
    body, .parent div {
        font-size: 9px;
        padding: 2px;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .name {
        font-size: 14px;
    }

    .togglePanel {
        font-size: 12px;
    }


    .first {
        min-width: 80px;
        width: 80px;
        padding: 2px;
    }

    /*.content {*/
    /*    padding-top: 10%;*/
    /*}*/

    .content-left li {
        min-width: 90px;
        /*padding: 2px;*/
        font-size: 11px;
    }

    footer {
        font-size: 10px;
    }
}
