*, ::after, ::before {
    box-sizing: border-box;
    color: #8416ab
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../css/gstaticFont.woff2) format('woff2');
}

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

i {
    color: white;
}

.bg {
    background-color: #790de5;
}

.cursel {
    background-color: #ceadf5;
    font-weight: bolder;
}

.bg > li {
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

html {
    /*font-size: 80%;*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

div::after {
    content: '';
    display: block;
    clear: both
}

body {
    margin: 0;
}


iframe {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: auto;
    word-wrap: break-word;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    /*font-size: 1.2rem;*/
    margin: 10px;
    font-weight: 400;
    -ms-overflow-style: scrollbar;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

@-ms-viewport {
    width: 100vw;
    height: 100vh;
}

/*html5 compatible old browser IE*/
article, aside, details, figcaption, figure, footer, header, section, hgroup, menu, nav {
    display: block;
}

footer, .bottom {

    padding: 4px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    /*font-size: 12px;*/
}

section {
    /*padding: 4px;*/
    left: 0;
    position: relative;
    width: 100%;
}


.content {
    padding-top: 50px;
}

.content-left li {
    padding: 5px;
    font-weight: bolder;

}

.load {
    z-index: 2;
    height: 30px;
    left: 40%;
    top: 5px;
    position: absolute;
    padding: 4px;
    display: none;
    opacity: .70;
}

.content-left li span {
    font-weight: bolder;

}

.text-black {
    color: black;
}

.text-white {
    color: white;
}


.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
}

.row {
    display: flex;
}

.right {
    float: right;
}

.left {
    float: left;
}

.star {
    color: #c82333;
    cursor: pointer;
}

.star:hover {
    color: #005cbf;
    float: right;
}

.noHover div > span {
    pointer-events: auto;
}

.content-left {
    /*height: calc(100vh - 120px);*/
    width: 200px;
    padding-left: 5px;
}

.content-right, .content-right-subdiv {
    height: calc(100vh - 120px);
    width: calc(80vw - 200px);
    padding-left: 5px;
    float: left;
}

/*.content-left {*/
/*    float: left;*/

/*}*/

.content-right {
    color: black;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
}

.content-right-subdiv {
    display: none;
    color: #005cbf;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    background-color: #e9ecef;
    width: 80%;
}

.topdiv {
    position: absolute;
    background-color: #20c997;
    color: white;
    width: auto;
    padding: 5px;
}

header, .top {

    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 14px;
}

header div, header span, header a {
    color: white;
    margin: 2px;
    padding: 3px;
}

.name {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
}

.tld {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
    float: right;
    /*text-decoration: underline;*/
}

dl, ol, ul {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0.2px;
    margin-inline-end: 0.2px;
    padding-inline-start: 2px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    cursor: pointer;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn {
    border-color: #007bff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .275rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

code, kbd, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

.plzwait {
    font-size: 12px;
    color: white;
}

.demo {
    position: relative;
    display: inline;
    overflow: auto;
    height: 300px;
}

.flexbox {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
}

.cards span, .cards a {
    border-top: 5px solid #7111ae;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*transition: border-width 0.3s linear;*/
    transition: 1s;
    /*transition: outline-width 0.3s linear;*/
    /*background: linear-gradient(150deg, rgb(226, 104, 19) 0%, rgb(255, 255, 255) 50%, rgb(47, 184, 17) 100%);*/
}

.cards span:hover, .cards a:hover {
    /*background-color: #e2c3ef;*/
    background-color: #f8eccd;
    /*background: linear-gradient(180deg, rgb(226, 104, 19) 0%, rgb(255, 255, 255) 50%, rgb(47, 184, 17) 100%);*/
    /*border-width: 10px;*/
    /*transition: border-width 0.6s linear;*/
}


.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: orangered;
    /*text-decoration: underline*/
}

.droplet {
    background: #4285F4;
    border-radius: 5% 5%;
    transition: all 1s;
    transition-timing: ease-in-out;
}

.noHover {
    pointer-events: none;
}


li {
    list-style-type: none;
    position: relative;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
    /*transition: 0.5s;*/
}

.overlay-content {
    position: relative;
    /*top: 1%;*/
    width: calc(100% - 150px);
    padding: 30px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.click {
    cursor: pointer;
    /*background-color: white;*/
}

.overlay .closebtn {
    position: fixed;
    right: 45px;
    float: right;
    margin-right: 50px;
}


.box {
    border: 2px solid rgba(0, 0, 0, .225);
    border-radius: .30rem;
    padding: 5px;
    left: 0;
    margin: 10px;
}


.primary {
    background-color: #007bff !important
}

.white {
    background-color: white !important
}

.secondary {
    background-color: #6c757d !important
}


.success {
    background-color: #28a745 !important
}


.info {
    background-color: #17a2b8 !important
}

.warning {
    background-color: #ffc107 !important
}

.white {
    background-color: white !important
}

.danger {
    background-color: #dc3545 !important
}


.light {
    background-color: #f8f9fa !important
}


.dark {
    background-color: #343a40 !important
}

.dp {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.portrait {
    height: 100%;
    width: 40px;
}

.landscape {
    height: 100%;
    width: 80px;
}

.square {
    height: 100%;
    width: 100px;
}

#barStatus {
    position: absolute;
    width: 1%;
    height: 20px;
    display: none;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1.4;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}


@media screen and (max-width: 600px) {

    #imgPic {
        display: none;
    }

    body, .parent div {
        font-size: 9px;
        padding: 2px;
    }

    html {
        line-height: 12px;
    }


    .content {
        padding-top: 40px;
    }

    .overlay .closebtn {
        font-size: 10px;
        top: 5px;
        right: -40px;
    }

    .name, .tld {
        font-size: 12px;
        vertical-align: middle;
    }

    .togglePanel {
        font-size: 12px;
    }

    footer {
        font-size: 8px;
    }

    .btn {
        padding: .275rem .225rem;
        line-height: 1;
    }

    .row {
        display: inline;
        clear: both;
        padding: unset;
    }
}


.openFile {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.openFile input.open {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#jsEditor, #pythonEditor, #sqlEditor {
    font-weight: bolder;
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 14px;
    overflow: auto;
}

#codeBlock {
    padding: 1rem;
    width: 100%;
    height: 90%;
    overflow-y: hidden;
    position: relative;
    border: 2px solid #6610f2;
    /*background-color: azure;*/
}

#codeBlock::-webkit-scrollbar {
    width: 0 !important
}

select {
    margin: 2px;
    padding: 2px;
    background-color: white;
    border: 1px solid #6610f2;
}
