html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    zoom: 98%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../css/gstaticFont.woff2) format('woff2');
}


@font-face {
    font-family: "Gotham Rounded";
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    src: url(../css/GothamRounded-Medium.woff2) format('woff2');
}

body{
    height: 100vh;
    width: 100vw;
}

*, :after, :before {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', monospace;
}

.bodybg {
    background-image: linear-gradient(to bottom, #ffefe3, #e4f8e4);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a, :not(i,.icons, .size10, .size15, .size20) {
    color: #222;
    font-size: 14px;
}

.active {
    /*background-color: white;*/
    background-image: linear-gradient(to right, #b998ef, #f5efec);
}

h1, h2, h3, h4, h5, h6, .tld {
    color: #222;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    vertical-align: middle;
}

.size10 {
    font-size: 12px !important;
}

.size15 {
    font-size: 18px !important;
}

.size20 {
    font-size: 25px !important;
}

.size25 {
    font-size: 20px !important;
    font-weight: bolder;
}

b {
    color: #7f279e !important;
}

code {
    font-family: "Courier New", monospace;
}

.pright {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div {
    margin-top: 2px;
}

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icons:hover, a:hover, i:hover, .fab:hover, .fas:hover, .far:hover {
    color: #797979;
}

.ml2 {
    font-weight: 900;
    /*font-size: 3.5em;*/
}

.ml2 .letter {
    display: inline-block;
    /*line-height: 1em;*/
}

.ml6 {
    position: relative;
    font-weight: 900;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}


.ml6 .letter {
    display: inline-block;
}


.ml13 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /*font-weight: 800;*/
}

.ml13 .letter {
    display: inline-block;
}

.cursel {
    background-color: #ceadf5;
    font-weight: bolder;
}

div::after {
    content: '';
    display: block;
    clear: both
}


.capt {
    background-color: grey;
    width: 300px;
    height: 100px;

}

#mainCaptcha {
    font-size: 15pt;
}

iframe {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: auto;
    word-wrap: break-word;
}

pre {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    line-height: 1.2;
    /*font-size: 1.2rem;*/
    margin: 10px;
    font-weight: 400;
    -ms-overflow-style: scrollbar;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

input {
    width: 100%;
    border: 2px solid #222;
    padding: 5px;
    margin-top: 4px;
}

::placeholder {
    color: #202124;
    opacity: 0.8;
}

.page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

@-ms-viewport {
    width: 100vw;
    height: 100vh;
}

/*html5 compatible old browser IE*/
article, aside, details, figcaption, figure, footer, header, section, hgroup, menu, nav {
    display: block;
}

footer, .bottom {
    padding: 3px;
    bottom: 0;
    left: 0;
    margin-top: 2em;
    position: fixed;
    width: 100%;
}


section {
    /*padding: 4px;*/
    left: 0;
    position: relative;
    width: 100%;
}

.content-left li, .content-left li a, .content-left li icon {
    padding: 3px;
    vertical-align: middle;
    display: flex;
}

.load {
    z-index: 2;
    height: 30px;
    left: 40%;
    top: 5px;
    position: absolute;
    padding: 4px;
    display: none;
    opacity: .70;
}

.content-left li span {
    font-weight: bolder;

}

.text-black {
    color: black;
}

.column {
    flex: 50%;
    /*padding: 10px;*/
    height: 300px;
}

.row {
    display: flex;
}

.right {
    float: right;
}

.left {
    float: left;
}

.star {
    color: #c82333;
    cursor: pointer;
}

.star:hover {
    color: #005cbf;
    float: right;
}

.noHover div > span {
    pointer-events: auto;
}

.content-left {
    width: 230px;
    padding-left: 5px;
    margin-top: 15px;
}

.content-right, .content-right-subdiv {
    height: calc(100vh - 150px);
    width: calc(80vw - 350px);
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.content-right {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
}

.content-right-subdiv {
    display: none;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    /*background-color: #e9ecef;*/
    width: 80%;
}

.topdiv {
    position: absolute;
    background-color: #20c997;
    color: white;
    width: auto;
    padding: 5px;
}

header, .top {
    top: 0;
    left: 0;
    /*position: fixed;*/
    width: 100%;
    /*z-index: 100;*/
    font-size: 14px;
}

.name {
    font-weight: bold;
    font-size: 28px;
    vertical-align: middle;
}

dl, ol, ul {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0.2px;
    margin-inline-end: 0.2px;
    padding-inline-start: 2px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.pad10 {
    padding-left: 10px;
}

.btn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid transparent;*/
    padding: 5px 5px;
    /*font-size: 1rem;*/
    line-height: 1.1;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


code, kbd, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

.plzwait {
    font-size: 12px;
}

.flexbox {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
}

.flexbox-video {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
}


.cards > span, .cards > a {
    padding: 5px;
    margin: 3px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.video-cards > span, .video-cards > a {
    padding: 10px;
    margin: 10px;
    height: 350px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.mcard {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    letter-spacing: 1px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bottom a {
    font-size: 10px;
}

a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.droplet {
    background: #4285F4;
    border-radius: 5% 5%;
    transition: all 1s;
    transition-timing: ease-in-out;
}

li {
    list-style-type: none;
    position: relative;
    line-height: 20px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(18, 76, 152);
    overflow-x: hidden;
    display: none;
    opacity: 0.85;
    /*transition: 0.5s;*/
}

.overlay-content {
    color: white;
    position: relative;
    /*top: 1%;*/
    width: calc(100% - 150px);
    padding: 30px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.click, i, .icons {
    cursor: pointer;
}

.labelx {
    font-weight: bold;
}

.time {
    font-size: 10px;
}

.overlay .closebtn {
    position: fixed;
    right: 45px;
    float: right;
    margin-right: 50px;
}


.box {
    border: 2px solid #d4d4d5;
    border-radius: .30rem;
    padding: 5px;
    left: 0;
    margin-bottom: 10px;
    line-height: 1.5rem;
}


.primary {
    background-color: #329bbb
}

.white {
    background-color: #8a4cb7
}

.secondary {
    background-color: #6c757d
}


.success {
    background-color: #28a745
}


.info {
    background-color: #7055c6
}

.warning {
    background-color: #ffc107
}

.white {
    background-color: white
}

.danger {
    background-color: #dc3545
}

.xprimary {
    color: #007bff !important;
}

.xwhite {
    color: white !important;
}

.xsecondary {
    color: #6c757d !important;
}

.xgray {
    color: #b4b8b8 !important;
}

.xsuccess {
    color: #28a745 !important;
}


.xinfo {
    color: #5ccdea !important;
}

.xwarning {
    color: #ffc107 !important;
}

.xred {
    color: #c82f3e !important;
}

.xorange {
    color: #ea550c !important;
}


.white {
    background-color: white !important;
}

.danger {
    background-color: #dc3545
}


.light {
    background-color: #f8f9fa
}


.dark {
    background-color: #343a40
}

.dp {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.portrait {
    height: 100%;
    width: 40px;
}

.landscape {
    height: 100%;
    width: 80px;
}

.square {
    height: 100%;
    width: 100px;
}

#barStatus {
    position: absolute;
    width: 1%;
    height: 20px;
    display: none;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1.4;
    /*font-size: 11px;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.imgPic, #imgPic {
    width: 250px;
    height: 250px;
    padding: 5px;
}

.runbar {
    border-bottom: 3px solid mediumvioletred;
    /*width: 400px;*/
    /*height: 2px;*/
    /*background: #fff;*/
    /*!*position: absolute;*!*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

/*.runbar:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 5px;*/
/*    height: 100%;*/
/*    background: #732fce;*/
/*    animation: lineanimate 5s linear infinite;*/
/*}*/
/*.runbar:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 100%;*/
/*    width: 5px;*/
/*    background: #2f86e3;*/
/*    -webkit-animation-duration: 2s;*/
/*    animation-duration: 2s;*/
/*    -webkit-animation-timing-function: linear;*/
/*    animation-timing-function: linear;*/
/*    -webkit-animation-iteration-count: infinite;*/
/*    animation-iteration-count: infinite;*/
/*    -webkit-animation-name: MOVE-BG;*/
/*    animation-name: MOVE-BG;*/
/*}*/

.img {
    width: 100%;
    height: 250px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

.img-animate {
    border-radius: 100%;
    -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
    animation: border-transform-default 10s linear infinite alternate forwards;
}

.imgDonate {
    width: 300px;
    height: 250px;
    padding: 5px;
}

.imgIcon {
    display: inline-flex;
}


@media screen and (max-width: 600px) {

    .flexbox {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        display: grid;
    }

    #imgPic, .imgPic {
        display: none;
    }

    a, :not(i,.icons),
    div > *:not(i,.name,.icons.acitve, .tld, .size20, .size25),
    .content *:not(i,.name,.icons,.acitve, .tld, .size20, .size25) {
        font-size: 12px;
    }

    .overlay .closebtn {
        font-size: 10px;
        top: 5px;
        right: -40px;
    }

    .name {
        font-size: 14px;
        vertical-align: middle;
    }

    .togglePanel {
        font-size: 12px;
    }

    footer, .bottom {
        font-size: 8px;
        position: relative;
    }

    .btn {
        padding: .275rem .225rem;
        line-height: 1;
    }

    .row {
        display: inline;
        clear: both;
        padding: unset;
    }
}


.openFile {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}

.openFile input.open {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#jsEditor, #pythonEditor, #sqlEditor {
    font-weight: bolder;
    position: relative;
    width: 100%;
    height: 500px;
    font-size: 12px;
    overflow: auto;
}

#codeBlock {
    padding: 1rem;
    width: 100%;
    height: 90%;
    overflow-y: hidden;
    position: relative;
    border: 2px solid #e0e0e0;
    /*background-color: azure;*/
}

#codeBlock::-webkit-scrollbar {
    width: 0
}

select {
    margin: 2px;
    padding: 2px;
    background-color: white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e9e8ec;
}

@keyframes lineanimate {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    0% {
        left: 0;
    }
}

@keyframes border-transform-default {

    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}
